@import 'tailwindcss';

@plugin '@tailwindcss/typography';

@source './src/**/*.{js,jsx,ts,tsx}';

@variant dark (&:is(.dark *));


@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@utility animated-underline {
  background-image:
    linear-gradient(#33333300, #33333300),
    linear-gradient(
      to right,
      var(--color-primary-400),
      var(--color-primary-500)
    );
  background-size:
    100% 2px,
    0 2px;
  background-position:
    100% 100%,
    0 100%;
  background-repeat: no-repeat;
  @media (prefers-reduced-motion: no-preference) {
    transition: 0.3s ease;
    transition-property: background-size, color, background-color, border-color;
  }
  &:hover {
    background-size:
      0 2px,
      100% 2px;
  }
  &:focus-visible {
    background-size:
      0 2px,
      100% 2px;
  }
}

@utility prose {
  max-width: var(--prose-max-width);
}

@layer utilities {
:root {
    --tw-clr-primary-200: 219 255 0;
    --tw-clr-primary-300: 0 255 255;
    --tw-clr-primary-400: 121 0 243;
    --tw-clr-primary-500: 0 196 253;
    --prose-max-width: 100ch;

    --clr-primary-200: rgb(var(--tw-clr-primary-200)); /* #DBFF00 */
    --clr-primary-300: rgb(var(--tw-clr-primary-300)); /* #00e887 */
    --clr-primary-400: rgb(var(--tw-clr-primary-400)); /* #7900f3 */
    --clr-primary-500: rgb(var(--tw-clr-primary-500)); /* #00c4fd */
  }

}


@theme inline {
  --color-primary-200: var(--clr-primary-200);
  --color-primary-300: var(--clr-primary-300);
  --color-primary-400: var(--clr-primary-400);
  --color-primary-500: var(--clr-primary-500);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --font-inter: 'Inter', sans-serif;
}


:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0% 0 0);
  --foreground: oklch(90.748% 0.00106 11.828);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
}
@layer base {


  /* #region  /**=========== Typography =========== */
  .h0 {
    @apply  text-3xl font-bold md:text-5xl;
  }

  h1,
  .h1 {
    @apply  text-2xl font-bold md:text-4xl;
  }

  h2,
  .h2 {
    @apply  text-xl font-bold md:text-3xl;
  }

  h3,
  .h3 {
    @apply  text-lg font-bold md:text-2xl;
  }

  h4,
  .h4 {
    @apply  text-base font-bold md:text-lg;
  }

  body,
  .p {
    @apply  text-sm md:text-base;
  }
  /* #endregion  /**======== Typography =========== */
  body,
  .body {
    @apply  text-sm md:text-base selection:bg-primary-500;
  }

  .layout {
    /* 1100px */
    max-width: 68.75rem;
    @apply mx-auto w-11/12;
  }

  .bg-dark a.custom-link {
    @apply border-gray-200 hover:border-gray-200/0;
  }

  /* Class to adjust with sticky footer */
  .min-h-main {
    @apply min-h-[calc(100vh-56px)];
  }

  .cursor-newtab {
    cursor: url('/images/new-tab.png') 10 10, pointer;
  }
}